hr{
  padding: 0.3rem;
  background-color: #1b6ca8;
}
#title{
  background-color: #1b6ca8;
}
.barra{
  padding: 0 15%;
}
.BoxElement1{
  position: absolute;
  padding: 0 15%;
}
.imageLogo{
  width: 100%;
  padding-top: 27%;
}
.Button-Contact{
  margin-top: 10%;
}
.text-button-contact{
  margin: 0;
}
@media (max-width: 430px){
  .SmTitle{
      font-size: 1.8rem;
  }
}
@media (max-width: 350px){
  .text-button-contact{
    font-size: 0.5rem;
  }
  .SmTitle{
      font-size: 1.3rem;
  }
}

@media (min-width: 1000px){
    .text-button-contact{
      font-size: 3rem;
  }
}
.inicioPicture{
  width: 100%;
}
/* Elementos descriptivos  */
#QueHacemos{
  text-align: center;
}
.ContainerTitleSections{
  padding: 4% 15% 3%;
}
.PicturesContainer{
    padding: 0 15% 3%;
    text-align: left;
}
.ImageElement{
  width:100%;
  padding-bottom: 1rem;
}

#QueEsperar{
  text-align: center;
}
.box{
  width: 100%;
  position: absolute;
}
.ImageGrifo{
  width: 100%;
}
.ContainerElementsEsperar{
  padding:1% 15%;
}
.Titles3{
  color: white;
}
.icoEsperar{
  background-color: #1b6ca8;
  color:  white;
  font-size: 3rem;
  padding: 10px;
  border-radius: 100%;
}


#NuestosTrabajos{
  text-align: center;
}
.SlideImage{
  width: 60%;
}
.Arrow-Slide{
color: #1b6ca8;
font-size: 5rem;
}
.BoxSlide{
  margin: 0 15%
}
.PieSlide{
  margin: 3%;
}
.icomini{
  padding: 1% 5% 4%;
  font-size: 2rem;
}

#Contactar{
    text-align: center;
    background-color:  #1b6ca8;
}

.button-Contact{
  margin: 3% 0;
}
.BoxContact{
  text-align: center;
  padding: 0 15% 7%;
}
.TitleContact{
  padding-top: 5%;
}
.ContactLine{
  margin-bottom: 5%;
    background-color: white;
}
.SubBox2{
  text-align: center;
  padding-top: 0;
}
.Sub-Header{
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: #f5f1da;
}
.Sub-Body{
  color: #dfd3c3;
  font-size: 1.2rem;
}

#footer{
  text-align: center;
  padding: 7% 10%;
}
.LastLine{
  background-color: white;
}
.Copyright{
  font-size: 15px;
  color:#b1b493;
}
